<div class="container top-30">
  <div class="row">
    <div class="col-md-3">
      <label for="textToSearch">Buscador de artistas</label>
      <input [(ngModel)]="textToSearch" class="form control"
        type="text" name="textToSearch" placeholder="Buscar por artista..."
        (keyup)="searchArtist()" />
      <hr  />
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3 text-center puntero"
        *ngFor="let artist of _spotify.artists"
        [routerLink]="['/artista', artist.id]" >
          <img [src]="artist.images | withoutImage" alt="" class="img-fluid img-thumbnail"/>
          <p>
            {{artist.name}}
          </p>
          <hr  />
        </div>
      </div>
    </div>
  </div>
</div>
